@model IEnumerable<ShopDungCuTheThao.Models.SanPham>
@foreach (var pro in Model)
{
    <div class="product-cols ">
        <div class="product-block">
            <div class="thumbnail-item">
                <a href="@Url.Action("Details","Category",new { @ID = pro.ID })" title="Giá để tạ">
                    <span class="product-sale-percent">-16%</span>
                    <img alt="Giá để tạ" title="Giá để tạ" class="lazy" data-original="https://www.thethaothientruong.vn/uploads/thumbs/gia-de-ta.jpg" width="250" height="208" src="~/Public/img/@pro.IMG" style="display: inline;">
                </a>
            </div>
            <div class="product-meta">
                <div class="product-name">
                    <h3 class="name"><a href="@Url.Action("Details","Category",new { @ID = pro.ID })" title="Giá để tạ">@pro.Name</a></h3>
                    <div class="stars"><div class="ratings"><div class="empty-stars"></div><div class="full-stars" style="width:100%"></div></div> (1 đánh giá)</div>
                    <div class="price"><span class="price-old">@pro.Price.ToString("#,##0 đ")</span>  <span class="price-new">@pro.Price.ToString("#,##0 đ")</span></div>
                </div>
            </div>
        </div>
    </div>
}
