@model ShopDungCuTheThao.Models.RegisterViewModel1
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Public/css/StyleSheet1.css" rel="stylesheet" />
    <title>Register</title>
</head>
<body style="display:flex; align-items:center; justify-content:center;">
    <div class="login-page">
        <div class="form">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <h2>Register</h2>
                @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control", placeholder = "Full Name" } })
                @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })

                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", placeholder = "User Name" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })

                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Confirm Password" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })

                <a class="btn">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </a>
                <p class="message">Already registered? <a href="@Url.Action("Login","TaiKhoan")">Sign In</a></p>
            }
            <div>
            </div>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="~/Content/js/JavaScript.js"></script>
        </div>
    </div>
</body>
</html>
