@model ShopDungCuTheThao.Models.Accounts

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHome1.cshtml";
    <style>
        th,td {
            background-color:white;
        }
    </style>
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
@section DeleteAdminRoles {
    <div class="card bg-white">
        <div class="card-header">
            <div class="text-center">
                <strong class="text-uppercase text-danger text-center">DANH SÁCH LOẠI SẢN PHẨM</strong>
            </div>
            <div class="col-md-12 text-end">
                <a href="@Url.Action("Create","LoaiSanPham")" class="btn btn-sm btn-success ">Thêm</a>
                <a href="@Url.Action("Delete","LoaiSanPham")" class="btn btn-sm btn-danger">Xóa</a>
            </div>
        </div>
        <div class="card-body p-3 bg-white">
            <table>
                <div>
                    <table class="table table-striped">
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.AccountID)</th>
                            <td>@Html.DisplayFor(model => model.AccountID)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Name)</th>
                            <td>@Html.DisplayFor(model => model.Name)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Email)</th>
                            <td>@Html.DisplayFor(model => model.Email)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Phone)</th>
                            <td>@Html.DisplayFor(model => model.Phone)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.UserName)</th>
                            <td>@Html.DisplayFor(model => model.UserName)</td>
                        </tr>

                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Password)</th>
                            <td>@Html.DisplayFor(model => model.Password)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Birthday)</th>
                            <td>@Html.DisplayFor(model => model.Birthday)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Avatar)</th>
                            <td>@Html.DisplayFor(model => model.Avatar)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Address)</th>
                            <td>@Html.DisplayFor(model => model.Address)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Salt)</th>
                            <td>@Html.DisplayFor(model => model.Salt)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.CreateAt)</th>
                            <td>@Html.DisplayFor(model => model.CreateAt)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Status)</th>
                            <td>@Html.DisplayFor(model => model.Status)</td>
                        </tr>
                    </table>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <input type="submit" value="Delete" class="btn btn-default"  style="background-color:black"/> 
                            @Html.ActionLink("Back to List", "Index")
                        </div>
                    }
                </div>
            </table>
        </div>
}

</html>
