@model PagedList.IPagedList<ShopDungCuTheThao.Models.Accounts>
@using PagedList.Mvc;
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHome1.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
@if (TempData["SuccessMessage"] != null)
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script>
        $(document).ready(function () {
            toastr.success('@TempData["SuccessMessage"]');
        });
    </script>
}
@section IndexAdminRoles {
    <div class="card bg-white">
        <div class="card-header">
            <div class="text-center">
                <strong class="text-uppercase text-danger text-center">DANH SÁCH TÀI KHOẢN</strong>
            </div>
            <div class="col-md-12 text-end">
                <a href="@Url.Action("Create","Accounts")" class="btn btn-sm btn-success ">Thêm</a>
                <a href="@Url.Action("Delete","LoaiSanPham")" class="btn btn-sm btn-danger">Xóa</a>
            </div>
        </div>
        <div class="card-body p-3 bg-white" id="c">
            <tbody>
                <table class="table">
                    <tr>
                        <th width="3%">
                            <label>RoleName</label>
                        </th>
                        <th>
                            <label>Name</label>
                        </th>
                        <th width="5%">
                            <label>Email</label>
                        </th>
                        <th width="8%">
                            <label>Phone</label>
                        </th>
                        <th width="10%">
                            <label>UserName</label>
                        </th>
                        <th width="10%">
                            <label>Password</label>
                        </th>
                        <th width="8%">
                            <label>Birthday</label>
                        </th>
                        <th>
                            <label>Avatar</label>
                        </th>
                        <th>
                            <label>Address</label>
                        </th>
                        <th>
                            <label>Salt</label>
                        </th>
                        <th>
                            <label>CreateAt</label>
                        </th>
                        <th>
                            <label>Status</label>
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Role.RoleName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @if (item.Email.Length > 4 && item.Email.Length == 0)
                                {
                                    <span>@item.Email.Substring(0, 4)...</span>
                                }
                                else
                                {
                                    @item.Email
                                }
                                @*@Html.DisplayFor(modelItem => item.Email)*@
                            </td>
                            <td>
                                @item.Phone
                                @*@Html.DisplayFor(modelItem => item.Phone)*@
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td>
                                @if (item.Password.Length > 8)
                                {
                                    <span>@item.Password.Substring(0, 10)...</span>
                                }
                                else
                                {
                                    @item.Password
                                }
                                @*@Html.DisplayFor(modelItem => item.Password)*@
                            </td>
                            <td>
                                @if (item.Birthday != null)
                                {
                                    var BirthdayAtString = item.CreateAt.ToString();
                                    if (BirthdayAtString.Length > 10)
                                    {
                                        <span>@BirthdayAtString.Substring(0, 10)</span>
                                    }
                                    else
                                    {
                                        @BirthdayAtString
                                    }
                                }
                                @*@Html.DisplayFor(modelItem => item.Birthday)*@
                            </td>
                            <td>
                                @if (item.Avatar != null)
                                {
                                    var Avartarstring = item.Avatar.ToString();
                                    if (Avartarstring.Length > 5)
                                    {
                                        <span>@Avartarstring.Substring(0, 5)...</span>
                                    }
                                    else
                                    {
                                        @Avartarstring
                                    }
                                }

                            </td>
                            <td>
                                @if (item.Address != null)
                                {
                                    var AddressAtString = item.CreateAt.ToString();
                                    if (AddressAtString.Length > 5)
                                    {
                                        <span>@AddressAtString.Substring(0, 5)...</span>
                                    }
                                    else
                                    {
                                        @AddressAtString
                                    }
                                }
                                @*@Html.DisplayFor(modelItem => item.Address)*@
                            </td>
                            <td>
                                @if (item.Salt != null)
                                {
                                    var saltString = item.Salt.ToString();
                                    if (saltString.Length > 3)
                                    {
                                        <span>@saltString.Substring(0, 3)...</span>
                                    }
                                    else
                                    {
                                        @saltString
                                    }
                                }
                                @*@Html.DisplayFor(modelItem => item.Salt)*@
                            </td>
                            <td>
                                @if (item.CreateAt != null)
                                {
                                    var CreateAtString = item.CreateAt.ToString();
                                    if (CreateAtString.Length > 10)
                                    {
                                        <span>@CreateAtString.Substring(0, 10)</span>
                                    }
                                    else
                                    {
                                        @CreateAtString
                                    }
                                }
                                @*@Html.DisplayFor(modelItem => item.CreateAt)*@
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.AccountID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.AccountID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.AccountID })
                            </td>
                        </tr>
                    }

                </table>
            </tbody>
        </div>
    </div>
    <br />
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
                <a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber - 1 })">Previous</a>
            </li>
            @for (int i = 1; i <= Model.PageCount; i++)
            {
                <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                </li>
            }
            <li class="page-item @(Model.PageNumber == Model.PageCount ? "disabled" : "")">
                <a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber + 1 })">Next</a>
            </li>
        </ul>
    </nav>
}
<style>
    .pagination {
        display: flex;
        justify-content: center;
    }

    .page-link {
        background-color: lightblue;
    }
</style>
</html>
