@model IEnumerable<ShopDungCuTheThao.Models.Accounts>

@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHome1.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
@section IndexAdminRoles {
    <div class="card">
        <div class="card-header">
            <div class="text-center">
                <strong class="text-uppercase text-danger text-center">DANH SÁCH LOẠI SẢN PHẨM</strong>
            </div>
            <div class="col-md-12 text-end">
                <a href="@Url.Action("Create","LoaiSanPham")" class="btn btn-sm btn-success ">Thêm</a>
                <a href="@Url.Action("Delete","LoaiSanPham")" class="btn btn-sm btn-danger">Xóa</a>
            </div>
        </div>
        <div class="card-body p-3 bg-white">
            <tbody>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Role.RoleName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Phone)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UserName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Password)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Birthday)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Avatar)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Address)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Salt)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreateAt)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Role.RoleName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Phone)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Password)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Birthday)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Avatar)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Salt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreateAt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.AccountID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.AccountID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.AccountID })
                            </td>
                        </tr>
                    }
                    
                </table>
            </tbody>
            </div>
            }
</html>
