@model ShopDungCuTheThao.Models.DonHang

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHome1.cshtml";
    <style>
        td{
            color:black
        }
    </style>
}
@section DeleteAdminRoles {
    <div class="card bg-white">
        <div class="card-header">
            <div class="text-center">
                <strong class="text-uppercase text-danger text-center">Xóa Đơn Hàng</strong>
            </div>
        </div>
        <div class="card-body p-3">
            <table class="table">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Accounts.Name)</th>
                    <td>@Html.DisplayFor(model => model.Accounts.Name)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.TransactStatus.Status)</th>
                    <td>@Html.DisplayFor(model => model.TransactStatus.Status)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <td>@Html.DisplayFor(model => model.Name)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Deleted)</th>
                    <td>@Html.DisplayFor(model => model.Deleted)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Address)</th>
                    <td>@Html.DisplayFor(model => model.Address)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.TotalMoney)</th>
                    <td>@Html.DisplayFor(model => model.TotalMoney)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Paid)</th>
                    <td>@Html.DisplayFor(model => model.Paid)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.ShipDate)</th>
                    <td>@Html.DisplayFor(model => model.ShipDate)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.OrderDate)</th>
                    <td>@Html.DisplayFor(model => model.OrderDate)</td>
                </tr>
            </table>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>
        }
