@model PagedList.IPagedList<ShopDungCuTheThao.Models.DonHang>
@using PagedList.Mvc;
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHome1.cshtml";
}
@if (TempData["SuccessMessage"] != null)
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script>
        $(document).ready(function () {
            toastr.success('@TempData["SuccessMessage"]');
        });
    </script>
}
@section IndexAdminRoles {
    <div class="card bg-white">
        <div class="card-header">
            <div class="text-center">
                <strong class="text-uppercase text-danger text-center">DANH SÁCH TÀI KHOẢN</strong>
            </div>
            <div class="col-md-12 text-end">
                <a href="@Url.Action("Create","Accounts")" class="btn btn-sm btn-success">Thêm</a>
                <a href="@Url.Action("Delete","LoaiSanPham")" class="btn btn-sm btn-danger">Xóa</a>
            </div>
        </div>
        <div class="card-body p-3 bg-white" id="c">
            <table class="table">
                <thead>
                    <tr>
                        <th width="20%">
                            <label>ID</label>
                        </th>
                        <th width="20%">
                            <label>Đơn Hàng</label>
                        </th>
                        <th width="20%">
                            <label>Ngày Mua</label>
                        </th>
                        <th width="20%">
                            <label>Tổng Tiền</label>
                        </th>
                        <th width="20%">
                            <label>Trạng Thái</label>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.AccountID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrderDate)
                            </td>
                            <td>
                                @item.TotalMoney.ToString("#,##0")
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TransactStatus.Description)
                            </td>
                            <td>
                                <button class="btn btn-primary open-modal" data-orderid="@item.OrderID">Cập Nhật Trạng Thái</button>
                                <div class="modal fade" id="myModal_@item.OrderID" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            @Html.Partial("ChangeStatus", item)
                                        </div>
                                    </div>
                                </div>
                                @Html.ActionLink("Details", "Details", new { id = item.OrderID }, new { @class = "btn btn-info" }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.OrderID }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
                <a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber - 1 })">Previous</a>
            </li>
            @for (int i = 1; i <= Model.PageCount; i++)
            {
                <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>
                </li>
            }
            <li class="page-item @(Model.PageNumber == Model.PageCount ? "disabled" : "")">
                <a class="page-link" href="@Url.Action("Index", new { page = Model.PageNumber + 1 })">Next</a>
            </li>
        </ul>
    </nav>
}
@section Index {
    <script>
        $(document).ready(function () {
            $('.open-modal').click(function () {
                var orderId = $(this).data('orderid');
                $('#myModal_' + orderId).modal('show');
            });
        });
    </script>
}
<style>
    .pagination {
        display: flex;
        justify-content: center;
    }

    .page-link {
        background-color: lightblue;
    }
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>