@model List<ShopDungCuTheThao.Models.SanPham>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/Public/css/cssAdmin.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/fontawesome.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/fontawesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <style>
        .box .nz-div .tde, .box .nz-div h1.tde, .box .nz-div h3.tde {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    display: inline-block;
    text-transform: uppercase;
}

.nz-div .tde, .nz-div h1.tde, .nz-div h3.tde {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
}
        #mainnav {
            /* background: rgb(255, 255, 255);*/
            border-top: 1px solid rgb(245, 245, 245);
            height: 46px;
            white-space: nowrap;
            position: relative;
            left: 120px;
        }

            #mainnav li :hover {
                background-color: #e52222;
                color: white !important;
            }

            #mainnav .nav li a {
                padding: 11px 25px;
                font-size: 13px;
                display: block;
            }

            #mainnav .nav li.menu-item-47 a {
                padding: 7px 15px !important;
            }

            #mainnav .nav span {
                border: 0 none;
                font-family: inherit;
                font-size: 100%;
                font-style: inherit;
                font-weight: inherit;
                margin: 0;
                outline: 0 none;
                padding: 0;
                vertical-align: baseline;
            }

            #mainnav .nav li {
                overflow: hidden
            }

        .sub-menu {
            display: none;
        }

        .haschild:hover .sub-menu {
            display: block;
        }

            .haschild:hover .sub-menu li {
                background-color: #e52222;
            }

                .haschild:hover .sub-menu li a {
                    color: black;
                }
        body .container1 header {
            margin: auto;
        }

        body .container {
            width: 1500px;
        }

        body .container1 header h5 {
            position: relative;
            left: 110px;
        }

        body .container1 content {
            display: flex;
            background-color: white;
            border-radius: 7px;
            height: 600px;
            width: 1300px;
            margin: auto;
        }

            body .container1 content .content-left {
                max-width: 1200px;
                margin: 0 auto;
            }

                body .container1 content .content-left h5 {
                    text-align: justify;
                    margin-bottom: 10px;
                    line-height: 1.5;
                }

                body .container1 content .content-left .r {
                    text-align: right;
                }

        .top-navbar {
            background-color: #e52222;
            padding: 10px;
        }

            .top-navbar ul {
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                justify-content: flex-end;
            }

            .top-navbar li {
                margin-right: 10px;
            }

            .top-navbar a {
                color: #333;
                text-decoration: none;
                height: 50px;
            }

        .navbar-brand {
            margin-right: auto;
        }

            .navbar-brand svg {
                width: 20px;
                height: 20px;
            }

        .navbar-form {
            position: absolute;
            right: 50%;
            transform: translateX(50%);
        }

            .navbar-form .form-group {
                margin-bottom: 0;
            }

            .navbar-form .form-control {
                width: 700px;
            }
    </style>
    <style>
        .top-navbar {
            position: sticky;
            top: 0;
            z-index: 99;
        }

        .navbar-fixed-top {
            position: sticky;
            top: 70px;
            z-index: 98;
        }
        .product-info ul li {
            list-style: none;
            overflow: hidden;
        }
        .product-info .price-big .price-new {
            font-size: 20px;
        }
        .product-info .price-big .price-old {
            display: inline;
            font-size: 16px;
        }

        .price-big .price .price-old {
            display: inline;
        }

        .price .price-old, .price .price-tax {
            color: #555;
            font-size: 14px;
            text-decoration: line-through;
            font-weight: normal;
        }
    </style>
</head>
<body style="background-color:gainsboro">

    <div style="clear: both;"></div>
    <div class="container3">
        <header>
            <h5>Trang Chủ / Chi Tiết Sản Phẩm</h5>
        </header>
        <div class="container3" style="width:1330px">
            <div class="product-view-top box">
                <div class="product-detail box-content">
                    <div class="product-content row">
                        <div class="col-lg-9 col-md-9">
                            <div class="row">
                                @foreach (var item in Model)
                                {
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                        <div class="product-images">
                                            <a data-fancybox="gallery" title="Máy chạy bộ điện HQ-9900 đa năng, chính hãng, giá tốt nhất!" href="https://www.thethaothientruong.vn/uploads/2023/may-chay-bo-dien-da-nang-hq9900.jpg">
                                                <img src="~/Public/img/@item.IMG" alt="Máy chạy bộ điện HQ-9900 đa năng, chính hãng, giá tốt nhất!" id="product_thumb" class="img-responsive" itemprop="image">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                        <div class="product-info">
                                            <div class="info-block">

                                                <ul>
                                                    <li>
                                                        <h2><strong>@item.Name</strong></h2>
                                                        <div class="stars">
                                                            <div class="ratings">
                                                                <div class="empty-stars"></div>
                                                            <div class="full-stars" style="width:100%"></div>
                                                             </div>
                                                        </div>
                                                    </li>

                                                    <li class="price-big">
                                                        <div itemprop="description" class="hidden">Máy chạy bộ HQ-9900 thiết kế đa năng, công suất mạnh mẽ 4.0 HP hỗ trợ tập hiệu quả tại nhà và phòng tập. Mua máy tập chạy bộ HQ-9900 chính hãng giá tốt ☎0968650686!</div>
                                                        <div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer" class="hidden">

                                                            <span itemprop="priceCurrency" content="VND">VND</span>
                                                            <span itemprop="url" content="https://www.thethaothientruong.vn/may-chay-bo/may-chay-bo-dien-da-nang-hq-9900.html"></span>
                                                            <span itemprop="price" content="21450000">21450000</span>
                                                            <span itemprop="priceValidUntil" content="2023-12-30"></span>
                                                            <link itemprop="availability" href="http://schema.org/InStock">Trong kho
                                                        </div>
                                                        <div class="price"><span class="price-old">@item.Price.ToString("#,##0 đ")</span>  <span class="price-new">@item.PriceSale.ToString("#,##0 đ")</span></div>
                                                    </li>
                                                    <li>
                                                        <ul class="list_attribute">
                                                            <li>Hãng: <span itemprop="brand" itemtype="https://schema.org/Brand" itemscope=""><span itemprop="name"><strong>Thiên Trường Sport</strong></span></span></li>
                                                            <li>Mã sản phẩm: <span itemprop="sku">@item.CateID</span></li>
                                                            <li>Bảo hành: <strong>1 năm</strong></li>
                                                            @if (item.Status == 1)
                                                            {
                                                                <li>Tình trạng: <span>Còn hàng</span></li>

                                                            }
                                                            else
                                                            {
                                                                <li>Tình trạng: <span>Hết hàng</span></li>

                                                            }
                                                            <li class="hidden" itemprop="gtin13">1234567892872</li>
                                                        </ul>
                                                    </li>
                                                    <li class="hidden"><label>Nhóm sản phẩm</label>: Máy chạy bộ điện đa năng HQ-9900</li>
                                                </ul>
                                                <script>

                                                    function get_child_option_value(product_id, option_id, value_id, type) {
                                                        // 		var var_selected_value = $(this).attr("id");
                                                        $('#option_' + option_id + ' a').removeClass('active');
                                                        $('#value_' + value_id).addClass('active');
                                                        $('.reset_variations').css("visibility", "visible");
                                                        //$('#option_label a').removeClass('active');
                                                        var data = { product_id: product_id, option_id: option_id, value_id: value_id };
                                                        $.ajax({
                                                            method: 'post',
                                                            url: "https://www.thethaothientruong.vn/product/ajax_get_child_option_value",
                                                            data: data,
                                                            dataType: 'json',
                                                            success: function (response) {
                                                                html = response.return_data;
                                                                $('#option_' + response.return_option_id + ' .option_show').html(html);
                                                            }
                                                        });
                                                    }
                                                    function choose_variant(sku_id, option_id, value_id, type) {
                                                        //var pos = $(this).attr("id");
                                                        //alert(variant_id);
                                                        if (type) {
                                                            alert('Vui lòng chọn ' + type + ' trước!');
                                                            return false;
                                                        } else {
                                                            $('.reset_variations').css("visibility", "visible");
                                                            $('#option_' + option_id + ' a').removeClass('active');
                                                            $('#value_' + value_id).addClass('active');
                                                            var data = { sku_id: sku_id };
                                                            var price = 32900000;
                                                            $.ajax({
                                                                method: 'post',
                                                                url: "https://www.thethaothientruong.vn/product/ajax_choose_variant",
                                                                data: data,
                                                                dataType: 'json',
                                                                success: function (response) {
                                                                    //alert(response.return_data.price);
                                                                    var product_price = response.return_data.price;
                                                                    $('#input_option_text').text(response.return_data.params);
                                                                    var input_variant = $('#input_price').val(product_price);
                                                                    if (response.return_data.image) { $('#product_thumb').attr("src", response.return_data.image); }
                                                                    if (price > 0) {
                                                                        $('.price-big .price-new').text(addCommas(product_price));
                                                                    } else {
                                                                        $('.price-big .price-call').text('Liên hệ');
                                                                    }
                                                                }
                                                            });
                                                        }
                                                    }
                                                    $('.reset_variations').click(function () {
                                                        $('.product_variants a').removeClass('active');
                                                        $('.reset_variations').css("visibility", "hidden");
                                                        $('#input_option_text').text('');
                                                        var price = 21450000;
                                                        var product_image = 'https://www.thethaothientruong.vn/uploads/2023/may-chay-bo-dien-da-nang-hq9900.jpg';
                                                        var input_variant = $('#input_price').val(price);
                                                        $('#product_thumb').attr("src", product_image);
                                                        if (price > 0) {
                                                            $('.price-big .price-new').text(addCommas(21450000));
                                                        } else {
                                                            $('.price-big .price-call').text('Liên hệ');
                                                        }
                                                    });


                                                </script>
                                                <div class="addtocart quantity-adder clearfix">
                                                    <form action="https://www.thethaothientruong.vn/cart/add" id="addtocart" method="post" accept-charset="utf-8">
                                                        <label>Số lượng</label>
                                                        <input type="text" name="quantity" value="1" class="quantity">
                                                        <textarea class="hidden" name="options" id="input_option_text">NULL</textarea>
                                                        <div class="quantity-wrapper pull-left">
                                                            <span class="add-up add-action fa fa-plus"></span>
                                                            <span class="add-down add-action fa fa-minus"></span>
                                                        </div>


                                                        <input type="hidden" name="id" value="2872">

                                                        <input type="hidden" name="name" value="Máy chạy bộ điện đa năng HQ-9900">

                                                        <input type="hidden" name="sku" value="HQ9900">

                                                        <input type="hidden" name="quantity" value="1">
                                                        <input type="hidden" name="price" value="21450000" id="input_price">

                                                        <a class="btn-buy" id="btn_buy" href="@Url.Action("ThemGioHang", "GioHang", new { ID = item.ID, @strUrl = Request.Url.ToString() })"><i class="fa fa-shopping-cart"></i> Mua Ngay</a>
                                                    </form>
                                                </div>

                                            </div>
                                            <div id="widget-11" class="widget 0">
                                                <div class="diachi hidden-md hidden-sm">
                                                    <ul>
                                                        <li><i class="fa fa-map-marker"></i> <strong>Hà Nội</strong>: 208D Lê Trọng Tấn, Q. Thanh Xuân - <i class="fa fa-phone"></i> <a href="tel:0915841888"><strong>0915 841 888</strong></a></li>
                                                        <li><i class="fa fa-map-marker"></i> <strong>Tp Hồ Chí Minh</strong>: 323 Trần Văn Kiểu, Quận 6 - <i class="fa fa-phone"></i> <a href="tel:0972147205"><strong>0972 147 205</strong></a></li>
                                                        <li><i class="fa fa-map-marker"></i> <strong>Đà Nẵng</strong>: 657 Trần Cao Vân, Q. Thanh Khê - <i class="fa fa-phone"></i> <a href="tel:0944086000"><strong>0944 086 000</strong></a></li>
                                                        <li><i class="fa fa-map-marker"></i> <strong>Nam Định</strong>: 522 Trần Hưng Đạo, P Lộc Vượng - <i class="fa fa-phone"></i> <a href="tel:0987883956"><strong>0987 883 956</strong></a></li>
                                                        <li><i class="fa fa-map-marker"></i> <strong>Hải Phòng</strong>: 238 Hàng Kênh, Quận Lê Chân - <i class="fa fa-phone"></i> <a href="tel:0968887488"><strong>0968 887 488</strong></a></li>
                                                    </ul>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="product-info">
                                <div id="widget-25" class="widget 0">
                                    <div class="diachi visible-md visible-sm col-md-12 col-sm-12">
                                        <ul>
                                            <li><i class="bi bi-geo-alt-fill"></i> <strong>Hà Nội</strong>: 208D Lê Trọng Tấn, Q. Thanh Xuân - <i class="fa fa-phone"></i> <strong><a href="tel:0968650686">0915 841 888</a></strong></li>
                                            <li><i class="fa fa-map-marker"></i> <strong>Tp Hồ Chí Minh</strong>: 323 Trần Văn Kiểu, Quận 6 - <i class="fa fa-phone"></i> <strong><a href="tel:0972147205">0972 147 205</a></strong></li>
                                            <li><i class="fa fa-map-marker"></i> <strong>Đà Nẵng</strong>: 657 Trần Cao Vân, Q. Thanh Khê - <i class="fa fa-phone"></i> <strong><a href="tel:0944086000">0944 086 000</a></strong></li>
                                            <li><i class="fa fa-map-marker"></i> <strong>Nam Định</strong>: 522 Trần Hưng Đạo, P Lộc Vượng - <i class="fa fa-phone"></i> <strong><a href="tel:0987883956">0987 883 956</a></strong></li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div id="widget-15" class="widget 0">
                                <div class="additional hidden-xs">
                                    <div class="contact">
                                        <div class="item hidden-xs">
                                            <i style="margin-top: 5px" class="tikicon icon-phone"></i>

                                            <p>
                                                <b>Liên hệ</b><br>
                                                <i class="fa fa-phone"></i> Hotline đặt hàng <a href="tel:0968650686">09686 50686</a><br>
                                                <small>(Làm việc cả T7, CN)</small>
                                            </p>
                                        </div>
                                        <div class="item hidden-xs">
                                            <i style="margin-top: -2px" class="tikicon icon-email"></i>
                                            <p>
                                                <i class="fa fa-envelope-o"></i> Email: <a href="mailto:info@thethaothientruong.vn">info@thethaothientruong.vn</a>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="register-to-sell">
                                        Bạn muốn nhận tư vấn từ Thể thao Thiên Trường? <a href="/lien-he/">Đăng ký</a>
                                    </div>
                                </div>
                            </div><div id="widget-5" class="widget 0">
                                <div class="zlboxs">
                                    <h5>Mua hàng tại Thiên Trường Sport</h5>
                                    <ul>
                                        <li>Đặt mua online hoặc đến trực tiếp cửa hàng</li>
                                        <li>Cam kết hàng chính hãng</li>
                                        <li>Hoàn 100% tiền cọc khi khách hàng muốn hủy đơn hàng</li>
                                        <li>Bảo hành chính hãng từ nhà cung cấp</li>
                                        <li>Dịch vụ vận chuyển và thu tiền tại nhà trên toàn quốc</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-12">
                    @foreach (var item in Model)
                    {
                        <div class="product-view-bottom box">
                            <br>
                            <div class="nz-div">
                                <div class="tde"><span class="null"> Mô tả sản phẩm</span></div>
                            </div>
                            <div class="box-content">
                                <div class="entry-content">
                                    <div class="tab-content text-left">
                                        <div id="main-content">
                                            <div class="tab-content" id="content-description">
                                                <div class="content-detail dtshow">
                                                    @*<h2 style="text-align: justify;"><strong>Thông tin: @item.Name</strong></h2>*@

                                                    <p style="text-align: justify;">Mã sản phẩm: @item.Detail.</p>    

                                                    @*<h3 style="text-align: justify;"><strong>Mua tạ tay Bowflex 552 chính hãng, uy tín tại Thiên Trường</strong></h3>*@

                                                    <p style="text-align: justify;">@item.MetaDesc</p>

                                                    <p class="dtcvmodetail" style="display: none;" onclick="expand()"><span>Đọc thêm <i>▾</i></span></p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="item-tags">
                                        </div>

                                        <div class="single-share">
                                            <span class="yt-news-share-title">Chia sẻ</span>
                                            <a target="_blank" rel="nofollow" href="http://facebook.com/share.php?u=https://www.thethaothientruong.vn/dung-cu-the-hinh/ta-tay-ta-tap-tay/ta-tay-bowflex-552.html" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                                                    <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" />
                                                </svg>
                                            </a>
                                            <a target="_blank" rel="nofollow" href="mailto:?subject=Tin hay đáng đọc &amp;body=https://www.thethaothientruong.vn/dung-cu-the-hinh/ta-tay-ta-tap-tay/ta-tay-bowflex-552.html">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-instagram" viewBox="0 0 16 16">
                                                    <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z" />
                                                </svg>
                                            </a>
                                            <a target="_blank" rel="nofollow" href="https://twitter.com/intent/tweet?text=Tạ tay Bowflex 552 (24kg / 1 quả)&amp;url=https://www.thethaothientruong.vn/dung-cu-the-hinh/ta-tay-ta-tap-tay/ta-tay-bowflex-552.html" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-tiktok" viewBox="0 0 16 16">
                                                    <path d="M9 0h1.98c.144.715.54 1.617 1.235 2.512C12.895 3.389 13.797 4 15 4v2c-1.753 0-3.07-.814-4-1.829V11a5 5 0 1 1-5-5v2a3 3 0 1 0 3 3V0Z" />
                                                </svg>
                                            </a>
                                            <a target="_blank" rel="nofollow" href="https://twitter.com/intent/tweet?text=Tạ tay Bowflex 552 (24kg / 1 quả)&amp;url=https://www.thethaothientruong.vn/dung-cu-the-hinh/ta-tay-ta-tap-tay/ta-tay-bowflex-552.html" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
                                                    <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z" />
                                                </svg>
                                            </a>
                                            <a target="_blank" rel="nofollow" data-pin-do="buttonPin" href="https://www.pinterest.com/pin/create/button/?url=https://www.thethaothientruong.vn/dung-cu-the-hinh/ta-tay-ta-tap-tay/ta-tay-bowflex-552.html&amp;media=https://www.thethaothientruong.vn/uploads/2023/ta-tay-bowflex-552.jpg&amp;description=Tạ tay Bowflex 552 (24kg / 1 quả)" data-pin-custom="true">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pinterest" viewBox="0 0 16 16">
                                                    <path d="M8 0a8 8 0 0 0-2.915 15.452c-.07-.633-.134-1.606.027-2.297.146-.625.938-3.977.938-3.977s-.239-.479-.239-1.187c0-1.113.645-1.943 1.448-1.943.682 0 1.012.512 1.012 1.127 0 .686-.437 1.712-.663 2.663-.188.796.4 1.446 1.185 1.446 1.422 0 2.515-1.5 2.515-3.664 0-1.915-1.377-3.254-3.342-3.254-2.276 0-3.612 1.707-3.612 3.471 0 .688.265 1.425.595 1.826a.24.24 0 0 1 .056.23c-.061.252-.196.796-.222.907-.035.146-.116.177-.268.107-1-.465-1.624-1.926-1.624-3.1 0-2.523 1.834-4.84 5.286-4.84 2.775 0 4.932 1.977 4.932 4.62 0 2.757-1.739 4.976-4.151 4.976-.811 0-1.573-.421-1.834-.919l-.498 1.902c-.181.695-.669 1.566-.995 2.097A8 8 0 1 0 8 0z" />
                                                </svg>
                                            </a>
                                            <a target="_blank" rel="nofollow" href="mailto:?subject=Tin hay đáng đọc &amp;body=https://www.thethaothientruong.vn/dung-cu-the-hinh/ta-tay-ta-tap-tay/ta-tay-bowflex-552.html">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-envelope-at-fill" viewBox="0 0 16 16">
                                                    <path d="M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2H2Zm-2 9.8V4.698l5.803 3.546L0 11.801Zm6.761-2.97-6.57 4.026A2 2 0 0 0 2 14h6.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586l-1.239-.757ZM16 9.671V4.697l-5.803 3.546.338.208A4.482 4.482 0 0 1 12.5 8c1.414 0 2.675.652 3.5 1.671Z" />
                                                    <path d="M15.834 12.244c0 1.168-.577 2.025-1.587 2.025-.503 0-1.002-.228-1.12-.648h-.043c-.118.416-.543.643-1.015.643-.77 0-1.259-.542-1.259-1.434v-.529c0-.844.481-1.4 1.26-1.4.585 0 .87.333.953.63h.03v-.568h.905v2.19c0 .272.18.42.411.42.315 0 .639-.415.639-1.39v-.118c0-1.277-.95-2.326-2.484-2.326h-.04c-1.582 0-2.64 1.067-2.64 2.724v.157c0 1.867 1.237 2.654 2.57 2.654h.045c.507 0 .935-.07 1.18-.18v.731c-.219.1-.643.175-1.237.175h-.044C10.438 16 9 14.82 9 12.646v-.214C9 10.36 10.421 9 12.485 9h.035c2.12 0 3.314 1.43 3.314 3.034v.21Zm-4.04.21v.227c0 .586.227.8.581.8.31 0 .564-.17.564-.743v-.367c0-.516-.275-.708-.572-.708-.346 0-.573.245-.573.791Z" />
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>

            <div id="sidebar" class="col-lg-3 col-md-3 hidden-sm hidden-xs">
                <div class="widget widget-product">
                    <h3 class="widget-title">Sản phẩm bán chạy</h3>

                    <div class="widget-content">
                        <div class="pagination-carousel owl-carousel owl-theme owl-loaded owl-drag">

                            <div class="owl-stage-outer">
                                    <div class="owl-item cloned" style="width: 268px;">
                                        <div class="item">
                                            <ul>
                                                <li>
                                                    <img alt="Tạ tay Brosman (70.000/Kg)" src="https://www.thethaothientruong.vn/uploads/thumbs/Ta-tay-Brosman.jpg" width="85" height="70">

                                                    <h4><a href="https://www.thethaothientruong.vn/dung-cu-the-hinh/ta-tay-ta-tap-tay/ta-tay-brosman.html">Tạ tay Brosman (70.000/Kg)</a></h4>
                                                    <div class="price"><span class="price-new">70,000đ</span></div>
                                                </li>
                                                <li>
                                                    <img alt="Tạ tay điều chỉnh Bowflex 1090 (40,8kg / 1 quả)" src="https://www.thethaothientruong.vn/uploads/thumbs/ta-tay-dieu-chinh-bowflex-1090.jpg" width="85" height="70">

                                                    <h4><a href="https://www.thethaothientruong.vn/dung-cu-the-hinh/ta-tay-ta-tap-tay/ta-tay-dieu-chinh-bowflex-1090.html">Tạ tay điều chỉnh Bowflex 1090 (40,8kg / 1 quả)</a></h4>
                                                    <div class="price"><span class="price-old">9,450,000đ</span>  <span class="price-new">7,800,000đ</span></div>
                                                </li>
                                                <li>
                                                    <img alt="Tạ gang lỗ phi 50 (30.000/Kg)" src="https://www.thethaothientruong.vn/uploads/thumbs/Ta-gang-lo-phi-50.jpg" width="85" height="70">

                                                    <h4><a href="https://www.thethaothientruong.vn/dung-cu-the-hinh/ta-tay-ta-tap-tay/ta-gang-lo-phi-50.html">Tạ gang lỗ phi 50 (30.000/Kg)</a></h4>
                                                    <div class="price"><span class="price-new">30,000đ</span></div>
                                                </li>
                                                <li>
                                                    <img alt="Bộ tạ tập tay Bowflex 552" src="https://www.thethaothientruong.vn/uploads/thumbs/Bo-ta-tap-tay-Bowflex-552.jpg" width="85" height="70">

                                                    <h4><a href="https://www.thethaothientruong.vn/dung-cu-the-hinh/ta-tay-ta-tap-tay/bo-ta-tap-tay-bowflex-552.html">Bộ tạ tập tay Bowflex 552</a></h4>
                                                    <div class="price"><span class="price-old">14,950,000đ</span>  <span class="price-new">11,315,000đ</span></div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="owl-item cloned" style="width: 268px;">
                                        <div class="item">
                                            <ul>
                                                <li>
                                                    <img alt="Bóng tạ thể lực" src="https://www.thethaothientruong.vn/uploads/thumbs/Bong-ta-tap-the-luc.jpg" width="85" height="70">

                                                    <h4><a href="https://www.thethaothientruong.vn/dung-cu-the-hinh/ta-tay-ta-tap-tay/bong-ta-the-luc.html">Bóng tạ thể lực</a></h4>
                                                    <div class="price"><span class="price-new">345,000đ</span></div>
                                                </li>
                                                <li>
                                                    <img alt="Đòn gánh tạ 2,2m lắp tạ phi 50" src="https://www.thethaothientruong.vn/uploads/thumbs/Don-ganh-ta-22m-lap-ta-phi-50.jpg" width="85" height="70">

                                                    <h4><a href="https://www.thethaothientruong.vn/dung-cu-the-hinh/ta-tay-ta-tap-tay/don-ganh-ta-22m-lap-ta-phi-50.html">Đòn gánh tạ 2,2m lắp tạ phi 50</a></h4>
                                                    <div class="price"><span class="price-new">1,800,000đ</span></div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <br />
</body>


</html>
<style>
    .dtcvmodetail, .dtchide {
        text-align: center;
    }
        .tab-content p, .tab-content ul li, .tab-content ol li {
        font-family: Arial, sans-serif;
    }
    .tde{position:relative;left:20px}
    .box div.nz-div {
        border-bottom: 1px solid #EEE;
    }

    .box div.nz-div {
        margin: 0;
    }
    header h5{position:relative;left:100px;width:1000px}
    .single-share a {
        margin-left: 15px;
    }
    .single-share .bi-envelope-at-fill {
        color: #007bff;
    }
    .single-share .bi-pinterest {
        color: #bd081c;
    }
    .single-share .bi-tiktok {
        color: #000000;
    }
    .single-share .bi-instagram {
        color: #E4405F;
    }
    .single-share .bi-twitter {
        color: #1da1f2;
    }
    .single-share .bi-facebook {
        color: #1877f2;
    }
    .single-share {
        border-top: 1px solid #F5F5F5;
        border-bottom: 1px solid #F5F5F5;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 10px 0 10px;
        font-size:20px
    }
    .owl-stage{width:400px}
    #sidebar .widget.widget-product ul li h4 a {
        color: #555;
    }

    a {
        color: #0076BC;
        text-decoration: none;
    }
    #sidebar .widget.widget-product ul li img {
        width: 84px;
        height: auto;
        margin-right: 15px;
        float: left;
    }

    .owl-carousel .owl-item img {
        display: block;
        width: 100%;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    img {
        vertical-align: middle;
    }

    img {
        border: 0;
    }

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    img[Attributes Style] {
        width: 85px;
        aspect-ratio: auto 85 / 70;
        height: 70px;
    }

    user agent stylesheet
    img {
        overflow-clip-margin: content-box;
        overflow: clip;
    }
    .price, span.sdt {
        color: #B10707;
        font-size: 14px;
        font-weight: bold;
        padding-left:5px;
    }
    #sidebar .widget .widget-title {
        font-size: 16px;
        font-weight: bold;
        color: #555;
        padding: 0 0 15px;
        -webkit-font-smoothing: antialiased;
        position: relative;
        border-bottom: 1px solid #e8e9eb;
        margin-top: 0;
        margin-bottom: 20px;
        text-transform: uppercase;
    }
    #sidebar .widget.widget-product ul li {
        list-style: none;
        overflow: hidden;
        border-bottom: 1px solid #EEE;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
    #sidebar .widget {
        margin-bottom: 20px;
        padding: 15px;
        background: #FFF;
    }
    .product #sidebar {
        overflow: hidden;
    }
    .row {
        margin-left: -10px;
        margin-right: -10px;
    }
    .product-view .box-content {
        border: 0 none;
        margin: 0;
        padding-bottom: 10px;
        background: #FFF;
        overflow: hidden;
    }

    .box-content {
        padding: 20px;
    }
    .dtcvmodetail span, .dtchide span {
        cursor: pointer;
        display: inline-block;
        height: 28px;
        line-height: 28px;
        padding: 0 10px;
        font-size: 13px;
        color: #3d3d3d;
        background: #fff;
        border: solid 1px #b2b2b2;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
    }

    .box {
        margin-bottom: 20px;
        background: #FFF;
        border-radius: 3px;
    }
    .product-info .price-big .price-old {
        display: inline;
        font-size: 16px;
    }

    .price-big .price .price-old {
        display: inline;
    }

    .price .price-old, .price .price-tax {
        color: #555;
        font-size: 14px;
        text-decoration: line-through;
        font-weight: normal;
    }
    .box {
        margin-bottom: 20px;
        background: #FFF;
        border-radius: 3px;
    }

    .container3 {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    .additional {
        padding: 10px;
        border-radius: 4px;
        border: 1px solid #ececec;
        margin: 12px 0;
        background: #FFF;
    }

    .zlboxs {
        border-radius: 3px;
        background-color: #FFF;
        padding: 15px;
        margin-bottom: 10px;
        border: 1px solid #EEE;
    }

    .addtocart input.quantity, input.quantity {
        width: 40px;
        padding: 0;
        text-align: center;
        border: 1px solid #E5E5E5;
        line-height: 36px;
    }

    .product-info .quantity-wrapper .add-action {
        border-bottom: 1px solid #ebeef2;
        border-right: 1px solid #ebeef2;
        border-top: 1px solid #ebeef2;
        color: #6f6f6f;
        cursor: pointer;
        display: block;
        font-size: 7px;
        height: 19px;
        line-height: 15px;
        position: relative;
        text-align: center;
        width: 27px;
        background: #F5F5F5;
    }

    .pull-left {
        float: left !important;
    }

    .addtocart input, .addtocart label {
        float: left;
        line-height: 36px;
    }

    .addtocart label {
        margin-right: 20px;
    }

    .product-info label {
        display: inline-block;
    }

    .btn-buy {
        background: #c9252c;
        border-radius: 2px;
        color: #FFF;
        line-height: 36px;
        float: left;
        font-weight: bold;
        margin: 0 0 0 10px;
        padding: 0;
        text-align: center;
        width: 115px;
        border: none;
        border-bottom: 3px solid #b72127;
        text-transform: uppercase;
        cursor: pointer;
    }

    .diachi {
        border: 1px solid #EEE;
        padding: 15px;
        border-radius: 3px;
    }
</style>