@model IEnumerable<ShopDungCuTheThao.Models.LoaiSanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHome1.cshtml";
}
@section IndexLoaiSanPham {
    <div class="card bg-white">
        <div class="card-header">
            <div class="text-center">
                <strong class="text-uppercase text-danger text-center">DANH SÁCH LOẠI SẢN PHẨM</strong>
            </div>
            <div class="col-md-12 text-end">
                <a href="@Url.Action("Create","LoaiSanPham")" class="btn btn-sm btn-success ">Thêm</a>
                <a href="@Url.Action("Delete","LoaiSanPham")" class="btn btn-sm btn-danger">Xóa</a>
            </div>
        </div>

        <div class="card-body p-3 bg-white">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th style="width:20px" class="text-center">#</th>
                        <th style="width:20px" class="text-center">ID</th>
                        <th style="width:90px" class="text-center">Tên Loại Sản Phẩm</th>
                        <th style="width:60px" class="text-center">Liên Kết</th>
                        <th style="width:40px" class="text-center">Chức Năng</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-center">
                                <input name="checkID" type="checkbox" />
                            </td>
                            <td class="text-center">@item.CateID</td>
                            <td class="text-center">@item.Name</td>
                            <td class="text-center"><a href="~/san~pham/@item.Slug">@item.Slug</a></td>
                            <td class="text-center">
                                <a href="@Url.Action("Edit", "LoaiSanPham", new {@id=item.CateID})" class="btn btn-sm btn-success">
                                    Edit
                                </a>
                                <a href="@Url.Action("Delete", "LoaiSanPham", new {@id=item.CateID})" class="btn btn-sm btn-success">
                                    Delete
                                </a>
                                <a href="@Url.Action("Details", "LoaiSanPham", new {@id=item.CateID})" class="btn btn-sm btn-success">
                                    View
                                </a>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
            <table class="table">
                <tr>
                    <th>
                        Tên Loại 
                    </th>
                    <th>
                        ID
                    </th>
                    <th>
                        Thứ Tự
                    </th>
                    <th>
                        TỪ KHÓA
                    </th>
                    <th>
                        Mô Tả Loại
                    </th>
                    <th>
                        Tạo Bởi
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Slug)
                    </th>
                    <th>
                        Tạo Vào Lúc
                    </th>
                    <th>
                        Cập Nhật Bởi
                    </th>
                    <th>
                        Cập Nhật Lúc
                    </th>
                    <th>
                        Tình Trạng
                    </th>
                    <th>Chức Năng</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>

                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ParentID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Orders)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MetaKey)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MetaDesc)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreateBy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Slug)
                        </td>
                        <td>
                            @if (item.CreateAt != null)
                            {
                                var CreateAtAtString = item.CreateAt.ToString();
                                if (CreateAtAtString.Length > 10)
                                {
                                    <span>@CreateAtAtString.Substring(0, 10)</span>
                                }
                                else
                                {
                                    @CreateAtAtString
                                }
                            }
                            @*@Html.DisplayFor(modelItem => item.CreateAt)*@
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UpdateBy)
                        </td>
                        <td>
                            @if (item.UpdateAt != null)
                            {
                                var UpdateAtAtString = item.CreateAt.ToString();
                                if (UpdateAtAtString.Length > 10)
                                {
                                    <span>@UpdateAtAtString.Substring(0, 10)</span>
                                }
                                else
                                {
                                    @UpdateAtAtString
                                }
                            }
                            @*@Html.DisplayFor(modelItem => item.UpdateAt)*@
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.CateID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.CateID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.CateID })
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    }
    }