@model ShopDungCuTheThao.Models.Roles

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHome1.cshtml";
    <style>
        th, td {
            background-color:white
        }
    </style>
}
@section Index {

    <div class="card bg-white">
        <div class="card-header">
            <div class="text-center">
                <strong class="text-uppercase text-danger text-center">Chi Tiết Quyền</strong>
            </div>
        </div>
        <div class="card-body p-3 bg-white">
            <div>
                <table class="table table-striped">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.RoleName)</th>
                        <td>@Html.DisplayFor(model => model.RoleName)</td>
                    </tr>

                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Decripstion)</th>
                        <td>@Html.DisplayFor(model => model.Decripstion)</td>
                    </tr>
                </table>
            </div>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.RoleID }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
            </div>
        </div>
}
